header {
    display: flex;
    height: 150px;
    justify-content: center;
    background-color: #d3d3d3;
}
.title {
    font-size: 20px;
    font-weight: bold;
    color: #000000;
    margin-top: 30px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #d3d3d3;
}
h3{
    font-size: 20px;
    font-weight: bold;
    color: #005677;
    margin-top: 30px;
    font-family: 'Times New Roman', Times, serif;
    background-color: #d3d3d3;
}
footer .p{
    display: flex;
    height: 100px;
    text-align: center;
    justify-content: center;
}

.ig {
    display: inline-block;
    position: relative;
    left: 300px;
    top: 5px;
    
} 
    
.linkedin {
    display: inline-block;
    position: relative;
    left: 305px;
    top: 5px;
} 

footer{
    display: flex;
    height: 40px;
    justify-items: center;
    background-color: #005677;
    text-align: center;
}